.main-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 15%;
}
.logo img {
  height: 40px;
  transition: 0.3s ease;
}
.logo img:hover {
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 50px;
  align-items: start;
  flex-grow: 1;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #0e57ff;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
}

.lang-toggle {
  color: #1A1A1A;
  background: transparent;
  padding: 7px 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400 !important;
  font-size: 16px !important;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2px;
  font-family: "Tajawal", sans-serif !important;
}

.lang-toggle:hover {
  color: #4085FA;
}
.active-link {
  color: #4085FA !important;
  font-weight: 500 !important;
  position: relative;
}

.nav-links.a:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4085FA;
}
.LangGlobe {
  height: 16px;
  padding: 0px;
}

/* ✅ Tablet screens */
@media (max-width: 1024px) {
  .main-header {
    padding: 12px;
  }

  .logo img {
    height: 36px;
  }

  .nav-links {
    gap: 30px;
  }

  .nav-links a {
    font-size: 15px;
  }

  .lang-toggle {
    font-size: 15px !important;
    padding: 6px 12px;
  }

  .LangGlobe {
    height: 15px;
  }
}

/* ✅ Mobile screens */
@media (max-width: 767px) {
  .main-header {
    flex-direction: row;
    align-items: center;
    gap: 0px;
    padding: 10px;
  }

  .logo {
    justify-content: center;
  }

  .logo img {
    height: 35px;
  }

  .nav-links {
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .nav-links a {
    font-size: 12px;
  }

  .header-right {
    justify-content: center;
    width: 30%;
  }

  .lang-toggle {
    font-size: 14px !important;
    padding: 5px;
  }

  .LangGlobe {
    height: 14px;
  }
}
