<header class="main-header">
  <a routerLink="/" class="logo">
    <img src="../../assets/Logo.svg" alt="EquiHub Logo" />
  </a>

<nav class="nav-links">
  <a 
    routerLink="/investor"
    [ngClass]="{ 'active-link': isActive('/investor') }"
  >
    {{ 'HEADER.INVESTOR' | translate }}
  </a>

  <a 
    routerLink="/startup"
    [ngClass]="{ 'active-link': isActive('/startup') }"
  >
    {{ 'HEADER.STARTUP' | translate }}
  </a>
</nav>
  <div class="header-right">
    <button class="lang-toggle" (click)="toggleLanguage()">
      <img src="../../assets/LangGlobe.svg" alt="LangGlobe" class="LangGlobe"/>
      {{ currentLanguage === 'en' ? 'العربية' : 'English' }}
    </button>
  </div>
</header>
